*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  background-color: #3b4383;
  padding-top: 2rem;
}

.container {
  background-color: #3b4383;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.row {
  max-width: 1280px;
  width: 100%;
  background-color: #f5f5f5;

  border-radius: 4px;
  padding-bottom: 2rem;
}

.row:first-child {
  padding-top: 3rem;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  background-color: #f5f5f5;
  color: #3b4383;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 200;
}

span {
  display: block;
}

/* FORM STYLING */

#goal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#goal-form:first-child {
  margin-bottom: 2rem;
}

.goal-label {
  font-size: 1.2rem;
  display: block;
  transition: all 0.3s;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-weight: 300;
  color: #3b4383;
}

.goal-input {
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  background-color: rgb(218, 216, 216);
  color: inherit;
  font-weight: 200;

  border: none;
  width: 75%;
  border-bottom: 3px solid black;
  display: block;
  margin-top: 2rem;
}

.goal-input:focus {
  outline: none;
  border-bottom: 3px solid #3b4383;
}

.goal-input:placeholder-shown + .goal-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

/* BUTTON STYLING */

.btn,
.btn:link,
.btn:visited {
  color: #3b3b3b;
  background-color: rgba(112, 108, 108, 0.658);
  border: none;
  border-radius: 2px;
  width: 75%;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  outline: none;
  backdrop-filter: blur(5px);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: all 0.2s;
  margin-top: 1rem;
  cursor: pointer;
}

.btn:hover {
  border: none;
  outline: none;
  background-color: rgba(112, 108, 108, 0.658);
  backdrop-filter: blur(5px);
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.123);
}

.btn:active,
.btn:focus {
  border: none;
  outline: none;
  background-color: rgba(112, 108, 108, 0.658);
  backdrop-filter: blur(5px);
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.103);
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* LIST STYLE */

.collection li {
  list-style: none;
  display: inline-block;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(233, 231, 231);
  letter-spacing: 1px;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem;
}

.collection li a {
  float: right;
  font-size: 1rem;
  color: #fd5252;
  transition: transform 0.3s;
}

.collection li a:hover {
  float: right;
  color: #fd5252;
  transform: rotate(125deg);
}
